name: example
description: A new Flutter project.

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  cupertino_icons: ^1.0.2
  flutter:
    sdk: flutter
  open_file: ^3.2.1
  path_provider: ^2.0.2
  syncfusion_flutter_datagrid_export:
    path: ../

flutter:
  uses-material-design: true
